* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007430;
}

a:hover {
    color: #7caf64;
}

ul {
    list-style: none;
}

.u-text-center {
    text-align: center;
}

.u-mt-20 {
    margin-top: 20px;
}

.wrapper {
    background-color: #ffffff;
    overflow-x: hidden;
}

.section {
    height: 100vh;
}


/* nav */

.side-hover1,
.side-hover2,
.side-hover3,
.side-hover4 {
    position: fixed;
    right: 0;
    height: 50px;
}

.side-hover1 {
    top: 40%;
}

.side-hover2 {
    top: 48%;
}

.side-hover3 {
    top: 56%;
}

.side-hover4 {
    top: 64%;
}

.side-nav__item {
    height: 28px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: 600;
    width: 40px;
    background-color: #346655cc;
    transition: all 0.3s;
    z-index: 50;
}

.side-nav .side-nav__item:hover {
    text-decoration: none;
    width: 70px;
    background-color: rgba(56, 80, 45, 0.897);
}

@media (max-width:768px) {
    .side-nav__item {
        width: 35px;
    }
    .side-nav .side-nav__item:hover {
        width: 45px;
    }
}

.side-nav__item span {
    font-family: 'Poiret One', cursive;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.side-nav .side-nav__item span {
    left: 8px;
    color: #ffffff;
}

.navbar {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(256, 256, 256, 0.5);
    padding: 0;
    z-index: 3;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: none !important;
}

.navbar .logo {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.navbar-collapse {
    text-align: right;
    padding-right: 15px;
}

.heading {
    font-family: 'Poiret One', cursive;
    color: #000000;
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
    padding-left: 8px;
}


/* 1thpage */

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 609px;
}

.img-title {
    width: 610px;
}

.heading2 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
}

.fa-mountain {
    font-size: 70px;
}

@media (max-width:768px) {
    .img-title {
        width: 550px;
    }
    .fa-mountain {
        font-size: 60px;
    }
    .heading2 {
        font-size: 15px;
    }
}

@media (max-width:426px) {
    .title {
        width: 100%;
    }
    .img-title {
        width: 320px;
        padding-left: 24px;
    }
    .fa-mountain {
        font-size: 45px;
    }
    .heading2 {
        font-size: 14px;
        padding: 24px;
        text-align: left;
    }
}

.banner-1,
.banner-2,
.banner-3,
.banner-4,
.banner-5 {
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}

.banner-1 {
    background-image: url(../img/banner1.jpg);
}

.banner-2 {
    background-image: url(../img/banner2.jpg);
}

.banner-3 {
    background-image: url(../img/banner3.jpg);
}

.banner-4 {
    background-image: url(../img/banner4.jpg);
}

.banner-5 {
    background-image: url(../img/banner5.jpg);
}


/* 2thpage */

.process {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 15%;
    margin-top: 20px;
    margin-left: 5px;
}

.heading3 {
    margin: 5px 0;
}

.logo1 {
    width: 18px;
    height: 18px;
}

.icon-process {
    height: 150px;
    width: 150px;
}

.description {
    font-size: 17px;
    font-weight: 600;
}

@media (max-width:768px) {
    .process {
        top: 8%;
        left: 10px;
    }
    .col-lg-3 {
        width: 45%;
        margin-left: 10px;
    }
}

@media (max-width:426px) {
    .process {
        top: 9%;
        left: 0;
    }
    .heading3 {
        font-size: 22px;
    }
    .icon-process {
        margin-top: 15px;
        height: 90px;
    }
    .description {
        font-size: 14px;
    }
    .u-mt-15 {
        margin-top: 15px;
    }
}


/* 3thpage */

.page3 {
    /* background-image: url(../img/2.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat; */
}

.heading4 {
    font-size: 25px;
}

.card-border {
    border: 1px solid #cecece;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
}

.card {
    width: 30%;
    margin: 10px;
    display: inline-block;
}

.card-text {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    padding-top: 150px;
    background-size: cover;
    background-position: center;
}

.card-1 {
    background-image: url(../img/1.jpg);
}

.card-2 {
    background-image: url(../img/2.jpg);
}

.card-3 {
    background-image: url(../img/3.jpg);
}

.card-4 {
    background-image: url(../img/3.png);
}

.card-rwd {
    display: none;
}

.more-plan {
    display: none !important;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
    color: #9b9b9b;
}

@media (max-width:768px) {
    .card-title {
        font-size: 15px;
        font-weight: 600;
    }
    .card-text {
        font-size: 14px;
    }
}

@media (max-width:426px) {
    .card-group {
        display: none;
    }
    .card-rwd {
        display: block;
    }
    .card {
        width: 60%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    }
    .card-text {
        padding-bottom: 15px;
    }
    .card-body {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .btn-plan {
        display: none;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        padding-top: 180px;
    }
    .page3 {
        padding-top: 50px;
    }
    .more-plan {
        display: block !important;
    }
}

.card-rwd::-webkit-scrollbar {
    display: none;
}

.card-rwd {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* 4thpage */

.page4 {
    height: 100%;
    width: 100%;
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.heading-third {
    text-align: center;
    margin-top: 50px;
}

.form {
    margin-top: 15px;
    width: 30%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

label {
    padding-top: 6px;
}

@media (max-width:768px) {
    .form {
        margin-top: 30px;
        width: 40%;
    }
    .page4 {
        background-image: url(../img/2.png);
    }
}

@media (max-width:426px) {
    .form {
        margin-top: 5px;
        width: 70%;
    }
    .form-text {
        font-size: 14px;
    }
}